@media screen and (min-width: 736px) {
  body {
    background-size: cover;
  }
}

@media screen and (min-width: 1025px) {
  body {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../images/bg-desktop.svg');
  }

  main {
    max-width: 100%;
  }

  header {
    flex-basis: 100%;
  }

  main {
    flex-basis: 100%;
  }

  footer {
    flex-basis: 100%;
    align-self: flex-end;

    display: flex;
    justify-content: flex-end;
  }

  .header-logo {
    /* margin-left: 3%; */
  }

  .main-content {
    flex-direction: row;
  }

  .image-section {
    flex-basis: 60%;
  }

  .main-section {
    flex-basis: 40%;
    text-align: left;
    margin-left: 25px;
  }

  .main-title {
    font-size: 2.2rem;
    margin-right: 25%;
  }

  .description {
    margin-right: 10%;
  }

  .register-btn {
    font-size: 1.2rem;
  }

  ul.social-links {
    justify-content: flex-end;
  }
}
